@import url('https://fonts.googleapis.com/css?family=Alegreya+SC&display=swap');

body {
    font-family: 'Alegreya SC', serif;
    background-color: black;
    color: thistle;
    position: absolute;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 4rem;

}

.cardContainer {
    display: flex;
}

.teamCard > img {
    width: 90%;
    height: 70%;
}

.teamCard > button {
    float: right;
    color: thistle;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 5%;
    font-size: 100%;
    font-family: 'Alegreya SC', serif;
}

.teamCard > button > a:link {
    text-decoration: none;
    color: thistle;
}

.teamCard > button > a:visited {
    color: inherit;
}

.teamCard {
    padding: 2rem;
}