@import url('https://fonts.googleapis.com/css?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

body {
    font-family: 'Alegreya SC', serif;
    background-color: black;
    color: thistle;
    position: absolute;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    margin-top: 3%;

}

h2 {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.cardContainer {
    display: flex;
    margin-top: 5%;
    margin-bottom: 8%;
}

.teamCard > img {
    width: 90%;
    height: 70%;
}

.teamCard > button {
    float: right;
    color: thistle;
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 5%;
    font-size: 100%;
    font-family: 'Alegreya SC', serif;
}

.teamCard > button > a:link {
    text-decoration: none;
    color: thistle;
}

.teamCard > button > a:visited {
    color: inherit;
}

.teamCard {
    padding: 2rem;
}

header {
    width: 12%;
}

nav {
    padding: 5%;
    justify-content: space-evenly;
}

.signUpButton {
    border: none;
    font-family: 'Alegreya SC', serif;
    font-size: 100%;
    background-color: thistle;
}

.logInButton {
    border: none;
    /* padding-top: 1%; */
    font-family: 'Alegreya SC', serif;
    font-size: 100%;
    background-color: thistle;
}

#userForm {
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#teamId {
    margin-top: 5%;
    font-family: 'Hepta Slab', serif;
}

#username {
    margin-top: 5%;
    margin-bottom: 3%;
}

#createButton {
    font-family: 'Alegreya SC', serif;
    font-weight: bold;
    font-size: 100%;
    margin-top: 7%;
    border: none;
    background-color: thistle;
}

option:nth-child(1), option:nth-child(5) {
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
    font-size: 100%;
}

#logInForm {
    margin-right: 20%;
    margin-top: 5%; 
    margin-bottom: 5%;
}

#logInUsername {
    margin-top: 5%;
}

#logInButton {
    margin-top: 7%;
    border: none;
    background-color: thistle;
    font-family: 'Alegreya SC', serif;
    font-size: 90%;
}

footer {
    color: slategray;
    text-align: right;
}
