@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

body {
    background: black;
    color: thistle;
    font-family: 'Hepta Slab', serif;
}

#teamHomeImage {
    height: 15%;
    width: 10%;
    cursor: pointer;
    position: absolute;
    top: 50px;
    margin-left: 4%;
}

#taskContainer {
    background-color: lightslategray;
    margin: 10% 30%;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
