@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

body {
    background: black;
    color: thistle;
    font-family: 'Hepta Slab', serif;
}

#teamHomeImage {
    height: 10%;
    width: 7%;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 50px;
}

#attributeContainer {
    background-color: lightslategray;
    margin: 10% 30%;
    text-align: left;
    font-weight: bolder;
    padding: 1rem;
    font-size: 2rem;
}

h3 {
    padding: 1%;
}

#rewardImage {
    width: 30%;
    height: 30%;
    padding: 3%;
    padding-left: 1%;
}

#editForm {
    background-color: lightslategray;
    padding: 2%;
}