@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');

body {
    background: black;
    color: thistle;
    font-family: 'Hepta Slab', serif;
}

#taskContainer {
    background-color: lightslategray;
    margin: 5% 30%;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
