@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Spectral+SC&display=swap');

body {
    background: black;
    color: thistle;
    padding: 5%;
}


h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Spectral SC', serif;
}

h3 {
    text-align: center;
    color: lightgrey;
    font-size: 2rem;
    font-family: 'Hepta Slab', serif;
}

h4 {
    font-size: 1.3rem;
    margin-left: 8rem;
    margin-right: 8rem;

}

img {
    width: 50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#teamContainer {
    display: flex;
    text-align: left;
    margin: 5%;
    font-family: 'Spectral SC', serif;
    padding-left: 10%;
    padding-right: 10%;
}

.leaderCard {
    display:flex;
    flex-direction: column;
    align-content: center;
    margin: 1%;
}

#taskListContainer {
    margin-right: 25%;
    margin-left: 25%;
    padding: 1rem;
}

#taskForm {
    font-family: 'Hepta Slab', serif;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

div > label > a:link{
    color:thistle;
    text-decoration: none;
}

div > label > a:visited{
    color:thistle;
    text-decoration: none;
}

#deleteButton {
    font-family: 'Hepta Slab', serif;
    font-size: 95%;
    margin-left: 0.5rem;
    border: none;
    cursor:pointer;
    background-color:lightslategray;
    color:thistle;
}

#editButton {
    margin: 0.3rem;
}

#editButton:link {
    color:thistle;
    text-decoration: none;
}

#editButton:visited {
    color:thistle;
    text-decoration: none;
}

#homeImage {
    height: 15%;
    width: 10%;
    cursor: pointer;
    position: absolute;
    top: 50px;
}

ul > div {
    background-color: lightslategray;
    margin-bottom: 5%;
    margin-right: 7%;
    font-family: 'Hepta Slab', serif;
    font-size: 1.5rem;
}